@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Labrada&family=Lobster&family=Roboto:ital@0;1&display=swap');
body
{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: azure;
}

h1
{
    font-size: 75px;
    letter-spacing: 2px;
    font-family: 'Labrada', serif;
    color:rgb(19, 146, 214);
    text-shadow: 3px 4px 3px goldenrod;
    white-space: nowrap;
}

.container
{
    align-items: center;
}

.btn
{
    padding: 30px 50px;
    background-color:white;
    border: none;
    margin: 20px;
    font-size: 20px;
    min-width: 200px;
    font-weight: bold;
    box-shadow: 2px 3px 10px powderblue;
    background-image: url(images/tom.png);
    background-size: cover;
    font-family: cursive;
    color: white;
    text-shadow: 1px 2px 3px rgb(21, 208, 93);
    cursor: pointer;

}

.btn:hover
{
   color:cadetblue;
}
.btn:active
{
    background-size: 105%;
}